*{
    margin: 0;
    padding: 0;
}
/*começo do header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: dotted 4px #f7f7f7;
}

#barrap{
    display: flex;
    justify-content: space-evenly;
}
.fonthead{
        font-family: 'Poppins', sans-serif;
        font-size: 16px, 24px;
        color: #212529;
        margin-right: 2em;
}
/*fim do header*/
/*começo do footer*/

/*parte branca direita do footer*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: dotted 4px #f7f7f7;
    background-color: chartreuse;
    height: 40rem;

  }
  #footerbranco{
    padding: 5rem;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
  }
  input{
    padding: 0.5rem;
    width: 11.5rem;
    margin-right: 5%;
  }
  label{
    font-style: italic;

  }
  #botao{
    background-image: url(botaoEnviar.png);
    background-size: cover;
    background-color: #2a2a2a;
    width: 3em;
    height: 3em;
  }
  #cadastro{
    width: 40%;
    height: 85%;
  }
  #cadastrar{
    display:flex;
    align-items: center;
    width: 100%;
    height: 40%;
    margin-top: 1.5rem

  }
  #subfont{
    font-family: 'Poppins', sans-serif;
    font-size: 34px, 40.8px;
    color:#2a2a2a;
    margin-bottom: 0.2rem;
  }
  .subfont2{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #a1a1a1;
    font-style: italic;
    margin-bottom: 1rem;
    
  }
  /*fim da parte direita*/
  /*parte branca esquerda do footer*/
  h3{
    font-family: 'Poppins', sans-serif;
  }
  #informacoes{
    display: flex;
    align-items: end;
    height: 85%;
    width: 40rem;
    
  }
  #info1{
    height: 100%;
    padding-right: 8%;
    
  }
  #info2{
    height: 100%;
    width: 11rem;
    padding-right: 8%;
  }
  /*fim da parte esquerda*/
  /*fim do footer branco*/
  /*começo parte preta do footer*/
  #footerpreto{
    background-color: #2a2a2a;
    height: 65%;
    width: 100%;
    display: flex;
  }
  #img2{
    width: 13%;
    margin:0;
    color:#ffff;
  }
  #infopreto{
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  h4{
    color:#ffff;
    background-color: aquamarine;
  }
  .subfont3{
    color:#ffff;
  }

 